/* Title */
.title {
    margin: 30px 0;
}
.title h2 {
    margin-bottom: 25px;
}
.title p {
    margin-bottom: 25px;
}
/* Title */


/* Top Styled List */
.pick, .personalize, .share {
    margin-bottom: 25px;
}

.pick div:last-child p,
.personalize div:last-child p,
.share div:last-child p {
    margin: 20px 0;
}
.pick div:first-child p,
.personalize div:first-child p,
.share div:first-child p {
    padding: 15px 0 15px 10px;
    margin-bottom: 20px;
    color: white;
    background-image: -webkit-gradient(linear, left top, right top, from(#751165), to(white));
    background-image: -webkit-linear-gradient(left, #751165, white);
    background-image: -moz-linear-gradient(left, #751165, white);
    background-image: linear-gradient(to right, #751165, white);
    border-bottom-left-radius: 15px;
    font-size: 20px;
    line-height: 22px;
}
.pick img,
.personalize img,
.share img {
    display: inline-block;
}
.pick div:nth-child(2),
.personalize div:nth-child(2),
.share div:nth-child(2) {
    text-align: center;
}

@media (min-width: 540px) {
    .pick div:nth-child(2),
    .personalize div:nth-child(2),
    .share div:nth-child(2) {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .pick, .personalize, .share {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .pick div, .personalize div, .share div {
        flex: 1 1 auto;
    }
    .personalize div:first-child {
        order: 1;
    }
    .personalize div:nth-child(2) {
        order: 3;
    }
    .personalize div:last-child {
        order: 2;
    }
    .pick div:last-child p,
    .personalize div:last-child p,
    .share div:last-child p {
        padding: 15px 10px;
    }
}

@media (min-width: 992px) {
    .pick, .personalize, .share {
        display: block;
        align-items: flex-start;
    }
    .personalize div:nth-child(2) {
        order: 2;
    }
    .personalize div:last-child {
        order: 3;
    }
    .pick div:first-child p,
    .personalize div:first-child p,
    .share div:first-child p,
    .pick div:last-child p,
    .personalize last:first-child p,
    .share div:last-child p {
        padding: 20px 0 20px 30px;
    }
    .pick div:first-child p,
    .share div:first-child p,
    .pick div:last-child p,
    .personalize div:last-child p,
    .share div:last-child p {
        margin-left: 20px;
    }
    .personalize div:first-child p {
        margin-right: 20px;
    }
}
/* Top Styled List */


/* New section */
.new {
    background-color: #eff5fb;
    padding: 15px;
    margin: 30px 0;
}
.new h2 {
    color: #5a5a5a;
    padding-bottom: 5px;
    margin: 10px 0 20px 0;
    border-bottom: 1px solid #5a5a5a;
    font-weight: bold;
}
.new ul {
    margin: 30px 0 10px 0;
}
.new li {
    margin: 15px 0;
}
/* New section */


/* Toolkit */
.toolkit {
    margin: 30px 0;
}
.toolkit h2 {
    color: #5a5a5a;
    font-weight: bold;
    margin: 10px 0 20px 0;
}
.toolkit img {
    display: inline-block;
}
.toolkit div:last-child {
    text-align: center
}
@media (min-width: 768px) {
    .toolkit {
        display: flex;
        align-items: center;
    }
    .toolkit div:first-child {
        padding-left: 30px;
    }
}
/* Toolkit */


/* Style */
.style {
    margin: 30px 0;
}
.style h2 {
    color: #5a5a5a;
    font-weight: bold;
    margin: 10px 0 20px 0;
}
/* Style */


/* Templates */
.templates {
    background-color: #eaf6f7;
    padding: 15px;
    margin: 30px 0;
}
.templates h2 {
    color: #5a5a5a;
    font-weight: bold;
    margin: 10px 0 20px 0;
}
.templates p {
    font-weight: bold;
    margin-bottom: 15px;
}
.templates blockquote {
    border-left: 5px solid #783165;
    background-color: #fef8c3;
    background: -moz-linear-gradient(left, #fef8c3 0%, #ffffff 100%);
    background: -webkit-linear-gradient(left, #fef8c3 0%, #ffffff 100%);
    background: linear-gradient(to right, #fef8c3 0%, #ffffff 100%);
    font-size: 14px;
}
@media (min-width: 768px) {
    .templates > div:last-child div:first-child {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }
    .templates p,
    .templates blockquote {
        flex: 1 1 auto;
        width: calc(50% - 20px);
    }
    .templates p:first-child {
        order: 1;
        margin-right: 20px;
    }
    .templates p:nth-child(3) {
        order: 2;
        margin-left: 20px;
    }
    .templates blockquote:nth-child(2) {
        order: 3;
        margin-right: 20px;
    }
    .templates blockquote:last-child {
        order: 4;
        margin-left: 20px;
    }
}
@media (min-width: 992px) {
    .templates > div:last-child div:first-child {
        display: block;
        align-items: initial;
        flex-wrap: initial;
    }
    .templates p,
    .templates blockquote {
        width: auto;
    }
    .templates p:first-child,
    .templates p:nth-child(3),
    .templates blockquote:nth-child(2),
    .templates blockquote:last-child {
        margin-left: 0;
        margin-right: 0;
    }
    .templates > div:last-child {
        display: flex;
        align-items: center;
    }
}
/* Templates */


/* Social */
.social h2,
.social h3 {
    color: #5a5a5a;
    font-weight: bold;
}
.social h2 {
    margin: 10px 0 20px 0;
}
.social h3 {
    margin: 0 0 25px 0;
}
.social img {
    display: inline-block;
}
.social p {
    margin: 25px 0 0 0;
    font-size: 18px;
    line-height: 1.2;
}
.social > div {
    padding: 30px;
    text-align: center;
}
.social > div::before,
.social > div::after {
    z-index: -1;
    content: '';
    border: 1px solid #3c3c3c;
    position: absolute;
}
.social > div::before {
    border-radius: 13px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
}
.social > div::after {
    border-radius: 10px;
    top: 14px;
    right: 14px;
    bottom: 14px;
    left: 14px;
    background-color: #fbf7fa;
}
@media (min-width: 768px) {
    .social h3 {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .social > div {
        text-align: left;
    }
    .social div div:nth-child(2),
    .social div div:last-child {
        float: right;
    }
}
@media (min-width: 992px) {
    .social {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .social h2 {
        flex: 1 0 auto;
        width: 100%;
    }
    .social h3 {
        margin-top: 0;
        margin-bottom: 25px;
    }
    .social > div {
        text-align: center;
        flex: 1 1 auto;
        align-content: center;
    }
}
/* Social */


/* Avery */
.avery {
    background-color: #1b438b;
    color: white;
}
.avery ul {
    padding: 0;
}
.avery li {
    width: 114px;
    display: inline-block;
    list-style-type: none;
}